.depoimentos-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
    gap: 40px;
    
    .depoimentos{
        display: grid;
        grid-template-columns: 100px 1fr;
        width: 100%;    
    }
    
    img{
        border: 5px solid $rosa-padrao;
        @include neo (50%, 21px);
        width: 100%;
        height: auto;
    }

    p {
        @include text ($rosa-padrao, $fonte-padrao, 14px);
        @include neo (10px, 21px);
    }
}


