.depoimentos-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10vw;
    margin: 0 40px;
    margin-bottom: 60px;
    
    .card{
        @include neo(10px, 21px);
        transition: transform 0.3s ease;
        &:hover{
            transform: scale(1.1);
        }

    }

}

