.footer-container{
    background-color: #f2f26f;
    color: $marrom-padrao;
    margin-top: auto;
    
   

    .col-md-4 a{
        color: $marrom-padrao;
    
        .customlink{
            color: $marrom-padrao;
        }
        
    }
}
